<carousel>
    <slide>
        <img src="https://lh3.googleusercontent.com/proxy/6DSH2PBiP8IE02h8VL_PPpGok1V0zF6_PFxlzADqpKLNLTIsshkyf088wbojbhtxijwZlv31RP8tc3qscBCUWJJN_jb0bdQSw_-LTX6U7CnxJ--9ZU-xqLymtUqaGEIkjcHlCIIC7-SEwAfOzg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://lh3.googleusercontent.com/proxy/6DSH2PBiP8IE02h8VL_PPpGok1V0zF6_PFxlzADqpKLNLTIsshkyf088wbojbhtxijwZlv31RP8tc3qscBCUWJJN_jb0bdQSw_-LTX6U7CnxJ--9ZU-xqLymtUqaGEIkjcHlCIIC7-SEwAfOzg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://i.pinimg.com/originals/a0/c2/2b/a0c22b34dacb4d2c76bd0fe27f833a2c.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>