<div class="container pt-5">
    <div class="row">
        <section class="col-3">

            <select class="custom-select" aria-label="Default select example" #orders
                (change)="onSortSelected(orders.value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>


            <h5 class="text-secodary">Brands</h5>
            <ul class="list-group">
                <li class="list-group-item" aria-current="true" *ngFor="let brand of brands"
                    (click)="onBrandSelected(brand.id)" [class.active]="shopParams.brandId == brand.id"
                    [value]="brand.id">{{brand.name}}</li>
            </ul>
            <h5 class="text-secodary mt-2">Types</h5>
            <ul class="list-group">
                <li class="list-group-item" aria-current="true" *ngFor="let type of types"
                    [class.active]="shopParams.typeId == type.id" [value]="type.id" (click)="onTypeSelected(type.id)">
                    {{type.name}}</li>
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header 
                [totalCount]="totalCount"
                [lastPage]="lastPage"
                [pageSize]="shopParams.pageSize"
                [pageNumber]="shopParams.pageNumber"
                ></app-paging-header>
                <div class="form-inline">
                    <input type="text" class="form-control" #search placeholder="Search" style="width: 300px;" (keyup)="onSearch(search.value)">
                    <!-- <button type="submit" class="btn btn-outline-primary ml-2">Search</button>
                    <button type="submit" class="btn btn-outline-success ml-2">Reset</button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-3 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
                <app-pager
                (pageChanged)="onPageChanged($event)"
                [totalCount]="totalCount"
                [pageSize]="shopParams.pageSize"
                ></app-pager>
            </div>
        </section>
    </div>
</div>