<div class="container">
    <div class="row">
        <div class="col-3">

            <select class="custom-select" aria-label="Default select example" #orders
                (change)="onSortSelected(orders.value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>


            <h5 class="text-secodary">Brands</h5>
            <ul class="list-group">
                <li class="list-group-item" aria-current="true" *ngFor="let brand of brands"
                    (click)="onBrandSelected(brand.id)" [class.active]="shopParams.brandId == brand.id"
                    [value]="brand.id">{{brand.name}}</li>
            </ul>
            <h5 class="text-secodary mt-2">Types</h5>
            <ul class="list-group">
                <li class="list-group-item" aria-current="true" *ngFor="let type of types"
                    [class.active]="shopParams.typeId == type.id" 
                    [value]="type.id" (click)="onTypeSelected(type.id)">
                    {{type.name}}</li>
            </ul>
        </div>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Showing <strong>10</strong> of <strong>18</strong> Results </span>
                </header>
                <div class="form-inline mt-2">
                    <input type="text" class="form-control" placeholder="Search" style="width: 300px;">
                    <button type="submit" class="btn btn-outline-primary ml-2">Search</button>
                    <button type="submit" class="btn btn-outline-success ml-2">Reset</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <pagination 
                [boundaryLinks]="true" 
                [totalItems]="totalCount" 
                (pageChanged)="onPageChanged($event)"
                [itemsPerPage]="shopParams.pageSize"
                previousText="&lsaquo;" 
                nextText="&rsaquo;"
                firstText="&laquo;" 
                lastText="&raquo;"
                >

                </pagination>
            </div>

        </section>
    </div>
</div>